/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*.category-image {
  width: 220px;
}*/

html {
  background: url('https://media.glamour.com/photos/5695994893ef4b09520d5b6b/master/w_644,c_limit/health-fitness-2015-08-victorias-secret-bra-main.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  /*-webkit-filter: grayscale(100%);
  filter: grayscale(100%);*/
}

/*html {
  background: url(https://media.glamour.com/photos/5695994893ef4b09520d5b6b/master/w_644,c_limit/health-fitness-2015-08-victorias-secret-bra-main.jpg);
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}*/


/*img {
  width: 220px;
  height: 220px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}*/

h4 {
  font-family: Arial;
}

/*a {
  text-decoration: none;
  color: white;
}*/

/*.workout-category-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  padding-left: 200px;
  padding-right: 200px;
}

.workout-category {
  padding: 10px;
  height: 100px;
  margin: 5px;
  background-color: rgba(100, 100, 255, .8);
  text-align: center;
  position: relative;
  flex: 1;
  flex-wrap: wrap;
}

.workout-category-text-container {
  position: absolute;
  text-align: center;
  top: 40%;
  width: 90%;
}

.workout-category-text {
  text-decoration: none;
  color: white;
}*/

.workout-category-container {
  display: flex;
  justify-content: center;
  padding-left: 200px;
  padding-right: 200px;
}

.workout-category {
  width: 600px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}

.category-box {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  background-color: rgba(100, 100, 255, .8);
  position: relative;
  text-align: center;
}

.workout-category-text-container {
  position: absolute;
  top: 40%;
  width: 100%;
}

.workout-category-text {
  text-decoration: none;
  color: white;
}
