/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  /*background: url('https://media.glamour.com/photos/5695994893ef4b09520d5b6b/master/w_644,c_limit/health-fitness-2015-08-victorias-secret-bra-main.jpg');*/
  background: url('https://i.imgur.com/TFO64NY.jpg');
}

h4 {
  font-family: Arial;
}

nav {
  background-color: rgba(150, 150, 150, .4);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 220px;
}

.workout-category-container {
  display: flex;
  justify-content: center;
  padding-left: 200px;
  padding-right: 200px;
  flex-flow: row wrap;
}


.category-box {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  background-color: rgba(100, 100, 255, .6);
  position: relative;
  text-align: center;
  margin: 10px;
}

.workout-category-text-container {
  position: absolute;
  top: 45%;
  width: 100%;
}

.workout-category-text {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.nav-text, .app-title {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  justify-content: flex-end;
}

/*.app-title {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  justify-content: flex-start;
}*/

.workout {
  display: flex;
  justify-content: space-between;
}

.workout-info {
  border-radius: 5px;
  background-color: rgba(150, 150, 150, .8);
  width: 30%;
  justify-content: flex-start;
}

.workout-content {
  border-radius: 5px;
  background-color: rgba(150, 150, 150, .8);
  width: 65%;
  justify-content: flex-end;
}

.specific-workout-entries {
  border-radius: 5px;
  background-color: rgba(150, 150, 150, .8);
  width: 90%;
}
