/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  /*background: url('https://media.glamour.com/photos/5695994893ef4b09520d5b6b/master/w_644,c_limit/health-fitness-2015-08-victorias-secret-bra-main.jpg');*/
  background: url('https://i.imgur.com/TFO64NY.jpg');
}

h4 {
  font-family: Arial;
}

nav {
  background-color: rgba(150, 150, 150, .4);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 220px;
}

/*layout/application.erb page*/
.nav-text, .app-title {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  justify-content: flex-end;
}

/*.app-title {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  justify-content: flex-start;
}*/

/*category index page*/
.workout-category-container {
  display: flex;
  justify-content: center;
  padding-left: 200px;
  padding-right: 200px;
  flex-flow: row wrap;
}

.category-box {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  background-color: rgba(100, 100, 255, .6);
  position: relative;
  text-align: center;
  margin: 10px;
}

.workout-category-text-container {
  position: absolute;
  top: 45%;
  width: 100%;
}

.workout-category-text {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-weight: bold;
}

/*category show page*/
.workout-name-container {
  display: flex;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  flex-flow: row wrap;
}

.workout-name-box {
  width: 250px;
  height: 250px;
  border-radius: 5px;
  background-color: rgba(100, 100, 255, .6);
  position: relative;
  text-align: center;
  margin: 10px;
}

.workout-name-text-container {
  position: absolute;
  top: 30%;
  width: 100%;
}

.workout-name-text {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 24;
  text-decoration: none;
}

/*workouts show page*/
.test {
  border-radius: 5px;
  background-color: rgba(100, 100, 255, .8);
}

.workout-info-container {
  display: flex;
  justify-content: center;
}

.workout-info {
  border-radius: 5px;
  /*background-color: rgba(100, 100, 255, .8);*/
  width: 100%;
  text-align: center;
}

.workout-name {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 28px;
}

.workout-description {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 16px;
  font-style: italic;
}

.duration-level-equipment-source-category {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 16px;
}

.workout-content-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.workout-content {
  border-radius: 5px;
  /*background-color: rgba(100, 100, 255, .8);*/
  width: 50%;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.workout-entries-container {
  display: flex;
  justify-content: center;
}

.workout-entries-box {
  border-radius: 5px;
  /*background-color: rgba(100, 100, 255, .8);*/
  width: 50%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: white;
}

.workout-entries-header {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: white;
  text-align: center;
}

.workout-entries-text {
  width: 100%;
  white-space: wrap;
  overflow-x: scroll;
}

/*entry create and update form*/
.form-container {
  display: flex;
  justify-content: center;
}

.form-info {
  font-family: 'Poppins', sans-serif;
  color: white;
  border-radius: 5px;
  background-color: rgba(100, 100, 255, .8);
  text-align: center;
  width: 50%;
}
