<div class="workout-category-container">
  <% @categories.each do |category| %>

      <div class="category-box">
        <div class="workout-category-text-container">
            <%= link_to category.name, category_path(category), class: "workout-category-text" %>
        </div>
      </div>

  <% end %>
</div>
