<% if !current_user %>
  <div class="new-category">
    <% link_to "Create New Category", new_category_path %>
  </div>
<% else %>
  <%= link_to "Create New Category", new_category_path %>
<% end %>

<% if !current_user %>
  <div class="show-workouts">
    <% link_to "Show My Workouts", entries_path %>
  </div>
<% else %>
  <%= link_to "Show My Workouts", entries_path %>
<% end %>

<div class="workout-category-container">
  <% @categories.each do |category| %>

      <div class="category-box">
        <div class="workout-category-text-container">
            <%= link_to category.name, category_path(category), class: "workout-category-text" %>
        </div>
      </div>

  <% end %>
</div>
