<div class="category-header-container">
  <div class="category-header">
    <h1 class="category-header-text"><%= @category.name %></h1>
  </div>
</div>

<div class="workout-name-container">
  <% @category.workouts.all.each do |workout| %>
    <div class="workout-name-box">
      <div class="workout-name-text-container">
        <h3><%= link_to workout.name, category_workout_path(@category, workout), class: "workout-name-text" %></h3>
        <%= link_to workout.duration, category_workout_path(@category, workout), class: "workout-name-text" %>
      </div>
    </div>
  <% end %>
</div>
